@use '../../reusable' as *;

.FloatingMenu {
  width: 100%;
  height: calc(100vh - 2.5rem);
  padding: 2.5rem;
  background: $bg-secondary;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1000;
  box-shadow: $shadow-main;

  .pages, .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    a:not(:first-child) {
      margin-top: .5rem;
    }
  }

  .auth {
    margin-top: 2rem;

    a:last-child {
      margin-top: 1rem;
    }
  }

  .socials {
    position: absolute;
    bottom: 2.5rem;
    display: flex;
    gap: 1em;

    .facebook {
      color: #699BF7;
    }

    .twitter {
      color: #6BB5DF;
    }

    .instagram {
      color: #F25DAE;
    }

    .tiktok {
      color: #000;
    }
  }
}