@use '../../reusable' as *;

.Signup {
  @include desktop {
    min-height: $height-viewport;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 8rem;
  }

  .Form {
    form {
      .inputs {
        .subsection {
          display: flex;
          flex-direction: column;
          gap: .5rem;

          &:nth-child(1) {
            .Input:nth-child(3) {
              margin-top: 1rem;

              @include desktop {
                margin-top: 0;
              }
            }
          }

          &:nth-child(2) {
            margin-top: 1rem;

            @include desktop {
              margin-top: 0;
            }
          }
        }

        @include desktop {
          flex-direction: row;
          align-items: flex-start;
          gap: 5rem;
        }
      }
    }
  }
}